section.s-works
  .works
    .works-wrapper
      .title-section.works__title Наши работы
      .container
        .works__item.works__1.work
          .work-header
            .work-header__number 
              .work-header__number-wrapper
                svg(height="71" width="71").work-header__svg
                  circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                .work-header__number-digital 1
            .work-header__title Ремонт трёхкомнатной квартиры на Ленина 133
            .work-header__line 
               svg(width="100%" height="2")
                line( x1="0" x2="100%" y1="0" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
          .work-compare
            .work-compare__before
              .work-compare__descr До ремонта
              .work-compare__img
                .work-compare__img-wrapper
                  img(src="img/work-before.jpg" alt="") 
                .work-compare__increase
                  .work-compare__increase-line.line1
                  .work-compare__increase-line.line2
              .work-compare__gallery
                .work-compare__gallery-img.point
                  img(src="img/work-1.jpg" alt="")
                .work-compare__gallery-img
                  img(src="img/work-2.jpg" alt="")
                .work-compare__gallery-img
                  img(src="img/work-3.jpg" alt="")
                .work-compare__gallery-img
                  img(src="img/work-4.jpg" alt="")
            .work-compare__after
              .work-compare__descr После ремонта
              .work-compare__img
                .work-compare__img-wrapper
                  img(src="img/work-before.jpg" alt="") 
              .work-compare__gallery
                .work-compare__gallery-img.point
                  img(src="img/work-1.jpg" alt="")
                .work-compare__gallery-img
                  img(src="img/work-2.jpg" alt="")
                .work-compare__gallery-img
                  img(src="img/work-3.jpg" alt="")
                .work-compare__gallery-img
                  img(src="img/work-4.jpg" alt="")
          .work-footer
            .work-footer__item.task
              .task__header.header-line Задача
              .task__text Разработка дизайн - проекта и капитальный ремонт трёхкомнатной квартиры
              .task__adress #[span Адрес:] Ленина 133
              .task__feature #[span Особенности проекта:] Замена конструктивных элементов помещения
              .task__time #[span Сроки исполнения]: 80 дней
              .task__btn.btn.btn--w-310 Заказать такой же ремонт
            .work-footer__item.thank
              .thank__header.header-line Благодарность клиента
              .thank__content
                .thank__img
                  img(src="img/Vasja.jpg")
                .thank__contact
                  .thank__name Сергей Васильевич
                  .thank__date 07.08.2017
                .thank__text Обратился в организацию летом. Решил сделать капитальный ремонт квартиры. После предварительного звонка ко мне приехал замерщик. Выбирал подрядчиков по критериям "цена=качество". Слишком дёшево не хотелось, дабы имелась неудачная практика работы с частными мастерами. Остановил свой выбор на этой организации.
                a(href="#").thank__link читать полностью