section.s-discount
  .discount(style="background-image:url('img/discount-bg.jpg')")
  .popup.popup-bg.discount-popup
    .discount-popup__wrapper
      .popup__header
        .popup__title 
          span Получи скидку до 15%
          .popup__title-descr на материалы от наших партнёров по нашей дисконт карте
      .popup__body
        form.form
          .form__body
            .form-line
              .form-group 
                label.form-group__label Ваше имя
                input(placeholder="Константин" type="text" name="text")
            .form-line
              .form-group 
                label.form-group__label Ваш телефон
                input(placeholder="+998 9" type="tel")
            .form-line
              .form-group.checkbox--width 
                label.checkbox
                  input(type="checkbox")
                  span.checkbox__custom
                  span.checkbox__text Принимаю условия
              a(href="#").form-group__href обработки данных
            .form__footer
              .form-line
                .form-group.form-group--width-m
                  input(type="submit" value="Получить скидку").btn 
        .cards
          .card.card-one
            .card__header
              .card__title Discount card
              .card__logo
                img(src="img/header-logo.png")
            .card__footer
              .card__percent 15%
              .card__email www.simmetria.uz
          .card.card-two
            .card__header
              .card__title Discount card
              .card__logo
                img(src="img/header-logo.png")
            .card__footer
              .card__percent 15%
              .card__email www.simmetria.uz
