header.header
  .header-bg
  .container
    .header-top
      .header-top__item
        .header-top__logo
          .header-top__img
            img(src="img/header-logo.png" alt="")
        .header-top__text Дизайнерский ремонт и отделка квартир, домов под ключ
      .header-top__item
        .header-top__phone
          +icon('phone', 'header-top__icon')
          a(href="tel:890601234545") +890(60)123-45-45 
        a(href="#popup-header").header-top__call.js-popup-link Заказать звонок
        .header-top__menu.menu
          .menu__line
    .header-content
      .header-content__text Дизайнерский ремонт и отделка квартир, домов под ключ
      .header-content__slogan Профессиональное качество по доступным ценам