section.s-how
  .how 
    .title-section.works__title Как мы работаем
    .long-line
      .container
        .phases
          .phases__item
            .phases__number
              .work-header__number 
                .work-header__number-wrapper
                  svg(height="71" width="71").work-header__svg
                    circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                  .work-header__number-digital 1
            .phases__content
              .phases__img
                +icon('phases-1', 'phases__img-icon')
              .phases__title Ваша заявка
              .phases__text Вы #[a(href="#") оставляете заявку] и наш специалист связывается с Вами
            .phases__arrow
              .phases__line
                svg( width="100%")
                  line(x1="0" y1="0" x2="100%" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
              .phases__tip
                img(src="img/tip.png")
          .phases__item
            .phases__number
              .work-header__number 
                .work-header__number-wrapper
                  svg(height="71" width="71").work-header__svg
                    circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                  .work-header__number-digital 2
            .phases__content
              .phases__img
                +icon('phases-2', 'phases__img-icon')
              .phases__title Выезд замерщика
              .phases__text Наш специалист приезжает к Вам и выполняет замеры
            .phases__arrow
              .phases__line
                svg( width="100%")
                  line(x1="0" y1="0" x2="100%" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
              .phases__tip
                img(src="img/tip.png")
          .phases__item
            .phases__number
              .work-header__number 
                .work-header__number-wrapper
                  svg(height="71" width="71").work-header__svg
                    circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                  .work-header__number-digital 3
            .phases__content
              .phases__img
                +icon('phases-3', 'phases__img-icon')
              .phases__title Заключение договора
              .phases__text После согласования мы заключаем договор и наша команда работает без предоплаты
            .phases__arrow
              .phases__line
                svg( width="100%")
                  line(x1="0" y1="0" x2="100%" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
              .phases__tip
                img(src="img/tip.png")
          .phases__item
            .phases__number
              .work-header__number 
                .work-header__number-wrapper
                  svg(height="71" width="71").work-header__svg
                    circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                  .work-header__number-digital 4
            .phases__content
              .phases__img
                +icon('phases-4', 'phases__img-icon')
              .phases__title Создание дизайн-проекта
              .phases__text Дизайнер нашей компании разработает дизайн-проект, составит смету, подготовит техническую документацию и составит план работы
            .phases__arrow
              .phases__line
                svg( width="100%")
                  line(x1="0" y1="0" x2="100%" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
              .phases__tip
                img(src="img/tip.png")
          .phases__item
            .phases__number
              .work-header__number 
                .work-header__number-wrapper
                  svg(height="71" width="71").work-header__svg
                    circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                  .work-header__number-digital 5
            .phases__content
              .phases__img
                +icon('phases-5', 'phases__img-icon')
              .phases__title Доставка материалов
              .phases__text Мы осуществляем доставку материалов на объект собственным транспортом
            .phases__arrow
              .phases__line
                svg( width="100%")
                  line(x1="0" y1="0" x2="100%" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
              .phases__tip
                img(src="img/tip.png")
          .phases__item
            .phases__number
              .work-header__number 
                .work-header__number-wrapper
                  svg(height="71" width="71").work-header__svg
                    circle(cx="35" cy="36" r="34" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2" fill="none")
                  .work-header__number-digital 6
            .phases__content
              .phases__img
                +icon('phases-6', 'phases__img-icon')
              .phases__title Выполнение ремонтных работ
              .phases__text Команда строителей проводит комплексные работы Вашей квартиры
            .phases__arrow
              .phases__line
                svg( width="100%")
                  line(x1="0" y1="0" x2="100%" y2="0" stroke="#f58345" stroke-width="1" stroke-dasharray="4 2")
              .phases__tip
                img(src="img/tip.png")
        .phases__btn.btn Оставить заявку