section.s-causes
  .causes
    .causes-block.causes-left
      .causes__item
        .title-section.causes__item-title 8 причин
          span работать с нами
        .causes__item-block
          .causes__item-row
            .causes-point
              .causes-point__img
                +icon('funds', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Оплата <br> по факту
                .causes-point__text Предотвращает риск <br> быть обманутым
            .causes-point
              .causes-point__img
                +icon('text', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Каждую <br> неделю отчет
                .causes-point__text о купленных <br> материалах
          .causes__item-row
            .causes-point
              .causes-point__img
                +icon('design', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Бесплатный <br> дизайн
                .causes-point__text Экономит <br> Ваш капитал
            .causes-point
              .causes-point__img
                +icon('sketch', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Работа <br> по дизайну
                .causes-point__text гарантирует <br> качественную работу
          .causes__item-row
            .causes-point
              .causes-point__img
                +icon('discount', 'causes-point__icon')
              .causes-point__content
                .causes-point__title 50% скидка <br> на прораба
                .causes-point__text даёт Вам <br> правильный ремонт
            .causes-point
              .causes-point__img
                +icon('clock', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Соблюдение <br> сроков
                .causes-point__text соблюдаются строго <br> по договору
          .causes__item-row
            .causes-point
              .causes-point__img
                +icon('badge', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Официальная <br> гарантия
                .causes-point__text нашей работы
            .causes-point
              .causes-point__img
                +icon('visibility', 'causes-point__icon')
              .causes-point__content
                .causes-point__title Бесплатные <br> экскурсии
                .causes-point__text по нашим выполненым <br> объектам
    .causes-block.causes-right
      .causes-right__wrapper
        .causes-right__video
          iframe(width="100%" height="100%" src="https://www.youtube.com/embed/CpK1lZJmbJY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .causes-right__descr 
          .causes-right__text Не знаете с чего начать ремонт? Начните с продуманного и качественного дизайн-проекта !
          .causes-right__name Ирина Владимировна
            span Ваш личный менеджер
        .causes-right__content(data-simplebar) Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum. consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32 