// Main
$content-size: 1240px;
$tablet-size: 1239px;
$phone-size: 767px;

///////////////////////////////////////////////////////////

//Colors
$font-color:#58585a;
$main-orange:#f58345;

// $green:#4AF6CD;
// @main-bg-color: #f2f2f2;
// @dark-bg-color: #003333;
// @slider-dots-bg-color: #dedede;
// @light-bg-color: #f2f2f2;
// @darkest-bg-color: #002c2c;
// @base-text-color: #333333;
// @label-text-color: #999797;

// @link-color: #1fa349; 
// @link-color-hover: #165f2d;
// @link-color-visuted: #605bb2;

// @button-green-color: #1fa349;
// @link-color-hover: #165f2d;
// @link-color-visited: #605bb2;
// @main-border-color: #f2f2f2;
// @warning-color: #ea102b;
// @breadcrumbs-link-hover: #d0021b;
// @white: #ffffff;
// @black: #000000; 
// @text-info-color: #bababa; 
// @input-border-color: #ededed;
// @main-action-color: #f8e71c; 
////////////////////////////////////////////////////////

//Fonts
// @main-font: 'source_sans_proregular', Arial, sans-serif;
// @boldest-font: 'source_sans_problack', Arial, sans-serif;
// @medium-font: 'source_sans_prosemibold', Arial, sans-serif;
// @bold-font: 'source_sans_probold', Arial, sans-serif;
// @base-font-size: 16px;
// @fontRegular: 'OpenSans'; 
// @fontBold: '@{fontRegular}-Bold'; 
///////////////////////////////////////////////////////////////////////